<!DOCTYPE html>
<html>
<head>
<title>ROLF</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>

    <div class="container-fluid">
        <h1>Recommendations Of Letterboxd Films</h1>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">R O L F</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-item nav-link active" href="about">About </a>
                <a class="nav-item nav-link " href="/">Home </a>
                <a class="nav-item nav-link disabled" href="output">Results</a>
              </div>
            </div>
        </nav>

        <hr>
        
    </div>

    <div class="container-fluid">
        <div class="row col-xs-12 col-md-8 col-md-offset-2">


            <h2>About ROLF</h2>
            
            <p>
                ROLF is a recommendation algorithm for Letterboxd users to get film recommendations.
                It uses linear algebra to predict user film ratings based off of other Letterboxd user 
                ratings. The top 5-highest ratings are then displayed.
            </p>

            <p>
                Because Letterboxd's API is invite-only, Letterboxd usernames have to be manually entered
                and XML files of users are parsed. Therefore only the most recent 50 entries of any user
                are considered, and films seen before may be recommended to a user.
            </p>

            <p>
                For further information, check out <a href="https://drive.google.com/file/d/1jsuhx-jTs4PCprK9g_dP1rHqncT77fq8/view">this PDF</a> 
                (Note: ROLF was originally an academic project).
            </p>

            <p>
                ROLF was created and is maintained by Andrew Calimlim <a href="https://www.linkedin.com/in/andrewcalimlim/">(LinkedIn profile)</a>. He can be reached at <em>Andr3wCalimlim@gmail.com</em> for any inquiry.
            </p>

            <h2>

        </div>
        
     </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    
</body>
</html>