<!DOCTYPE html>
<html>
<head>
<title>ROLF</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>

    <div class="container-fluid">

    </div>

    <div class="container-fluid">
        <div class="row">
            <h1>Recommendations Of Letterboxd Films</h1>

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/">R O L F</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                  <div class="navbar-nav">
                    <a class="nav-item nav-link " href="about">About </a>
                    <a class="nav-item nav-link active" href="/">Home </a>
                    <a class="nav-item nav-link disabled" href="output">Results</a>
                  </div>
                </div>
            </nav>

            <hr>
            
            <p>Capable of giving 5 film recommendations! Just fill out the following information: </p>

            <!--
            for testing:


            <form action = "http://localhost:5000/output" method = "post">
            -->

            <form action = "https://rolfrolf.herokuapp.com/output" method = "post">
                <label for="you">Your Letterboxd Username:</label><br>
                <input type="text" id="you" name="you"><br>
                
                <p>Now, provide a list of Letterboxd usernames that you want your recommendations based off their ratings. (one username per line).</p>
        
                <p>Usernames can be found in the URL of any Letterboxd profile.</p>
        
                <label for="usernames">Usernames of Other Users:</label><br>
                <textarea name="usernames" cols="20" rows="10"></textarea></br>
        
                <input type="submit" value="Recommend Me!">
          </form>

        </div>
     </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    
</body>
</html>