<!DOCTYPE html>
<html>
<head>
<title>ROLF</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>

    <div class="container-fluid">
        <div class="row">
            <h1>Recommendations Of Letterboxd Films (ROLF)</h1>
            <p>Created by Andrew Calimlim (andr3wcalimlim@gmail.com) </p>
            <hr>

            <!--
            for the site
            <form action = "https://rolfrolf.herokuapp.com/">
            -->

            <form action = "http://localhost:5000/">
                <p><input type = "submit" value = "Home" /></p>
             </form>

            <p>Hello {{name}}, here are your top 5 recommendations: <br>

            </p>
            
             <form action = "http://localhost:5000/test" method = "post">

                <input class="form-check-input" type="checkbox" name=seen value={{film1}} id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    {{film1}}
                </label><br>

                <input class="form-check-input" type="checkbox" name=seen value={{film2}} id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    {{film2}}
                </label><br>

                <input class="form-check-input" type="checkbox" name=seen value={{film3}} id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    {{film3}}
                </label><br>

                <input class="form-check-input" type="checkbox" name=seen value={{film4}} id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    {{film4}}
                </label><br>

                <input class="form-check-input" type="checkbox" name=seen value={{film5}} id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    {{film5}}
                </label><br>

                <p><input type = "submit" value = "Seen It" /></p>
             </form>


        </div>


     </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    
</body>
</html>